.about {
  display: flex;
  justify-content: center;

  h2 {

  }

  .link {
    margin-top: 5em;
    margin-right: 13em;
  }
}

.work {
  div {
    transition: width 2s;

    h2 {
      margin-left: 19em;
      padding-bottom: 50px;
    }

    .link {
      margin-left: 11em;
    }

    .thumbnail {
      width: 540px;
      height: auto;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3em;
  }
}
