.about {
  display: flex;
  justify-content: center;

  .link {
    margin-top: 5em;
    margin-right: 13em;
  }
}

.next-previous {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.next {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.previous {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.work {
  div {
    transition: width 2s;

    h2 {
      margin-left: 19em;
      padding-bottom: 50px;
    }

    .link {
      margin-left: 11em;
    }

    .thumbnail {
      width: 540px;
      height: auto;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-links{
    align-items: center;
    flex-direction: row;
    padding: 3em;
  }
}

.row { margin: 20px;
border: 2px solid red;
}

  h1 {
  color:red;
  }
